.imagen-perfil {
    color: red !important;
}

.imagen-card {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.imagen-card img {
    margin-bottom: 30px;
    width: 40%;
    box-shadow: 0 10px 10px rgb(112, 108, 108);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition-duration: 0.1s;
}

.imagen-card img:hover {
    transform: scale(1.2);
}

.titulo {
    justify-content: start;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(10, 117, 90);
}

.titulo2 {
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(10, 117, 90);
}